:root {
  --backgroundColor: #fff;
  --color-text-1: #000;
  --color-text-2: #ff5722;
  --color-text-3: #5c855e;
  --color-blue: 65, 132, 243;
  --color-default: 79 79 79;
  --color-green: 76, 175, 80;
  /* Green Color */
  --color-red: 223, 81, 76;
  /* Red color */
  --color-orange: 255, 87, 34;
  /* Orange color */
  --color-aqua: 0, 176, 255;
  /* Aqua color */
  --color-amber: 255, 143, 0;
  /* Amber color */
  --color-rose: 236, 64, 122;
  /* Rose color */
  --color-teal: 0, 150, 136;
  /* Teal color */
}

body {
  background-color: var(--backgroundColor);
}

.text-small {
  font-size: small;
  font-weight: lighter;
}

.text-red {
  color: var(--color-text-2);
}

input {
  outline: none;
}

/* Scroll 4 */

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  background-color: #1266f1;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .3) 20%, transparent 20%, transparent 40%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, .3) 60%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.3) 80%);
  border-radius: 10px;
}

.navbar-nav .nav-link {
  color: hsl(0deg 0% 1%);
  font-weight: 100;
  font-size: smaller;
}

.header-left .instrument-widget .last-price {
  color: var(--color-text-2);
}

.header-right {
  border-color: #e8e8e8!important;
}

.pinned-instruments .instrument-widget {
  font-size: smaller;
  font-weight: 500;
}

/* Market Watch Sidebar */

li.list-group-item:nth-child(n+2) {
  font-size: small;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Test Css */

/* MarketWatch Css codes */

.marketWatch li.list-group-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, .125)!important;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.marketWatch ul li span.badge {
  bottom: 0px;
  cursor: pointer;
  height: 27px;
  left: 0px;
  letter-spacing: 0.5px;
  min-width: 35px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  top: 0px;
  width: 35px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 17.5px 13.5px;
  transform-origin: 17.5px 13.5px;
  user-select: none;
  caret-color: rgb(255, 255, 255);
  border-radius: 2px 2px 2px 2px;
  font: normal normal 600 normal 11px / 17.6px "Open Sans", sans-serif;
  margin: 0px 0px 0px 3px;
  outline: rgb(255, 255, 255) none 0px;
  padding: 4px 10px;
}

.white-skin input[type=checkbox]:checked+label:before {
  border: none!important;
}

.hGray {
  color: #212121!important;
  background-color: #fff !important;
}

.hGray:hover {
  background-color: #9b9b9b!important;
  color: #fff!important;
}

.mrtSearch input:focus {
  box-shadow: none!important;
}

ul .actionBtn {
  position: absolute;
  right: 10px;
}

.marketWatch li.list-group-item:nth-of-type(n+2) {
  font-weight: 400;
  text-transform: uppercase;
}

.mrtSearch i.fa-search {
  color: #bfbfbf!important;
}

.symSearchRes .badge {
  padding: .9em 1.5em;
  cursor: pointer;
}

.symSearchRes .actionBtn {
  bottom: 8px;
}

.label {
  font-weight: 100;
  font-size: smaller;
}

.complite-order table td, .complite-order table th {
  padding: 0.9rem 1.4rem;
  font-size: smaller;
  vertical-align: middle;
}

table thead th {
  font-weight: 300 !important;
  color: var(--bs-gray);
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

table .text-label.order-status {
  cursor: pointer;
}

.text-label {
  background-color: rgba(var(--color-default)/ .1);
}

.text-label.blue {
  color: rgba(var(--color-blue));
  background-color: rgba(var(--color-blue), .1);
}

.text-label.green {
  color: rgba(var(--color-green));
  background-color: rgba(var(--color-green), .1);
}

.text-label.red {
  color: rgba(var(--color-red));
  background-color: rgba(var(--color-red), .1);
}

.text-label.orange {
  color: rgba(var(--color-orange));
  background-color: rgba(var(--color-orange), .1);
}

.text-label.aqua {
  color: rgba(var(--color-aqua));
  background-color: rgba(var(--color-aqua), .1);
}

.text-label.amber {
  color: rgba(var(--color-amber));
  background-color: rgba(var(--color-amber), .1);
}

.text-label.rose {
  color: rgba(var(--color-rose));
  background-color: rgba(var(--color-rose), .1);
}

.text-label.teal {
  color: rgba(var(--color-teal));
  background-color: rgba(var(--color-teal), .1);
}

/*  Transaction Modal / Order Window  */

.sell .card-header {
  background-color: rgba(var(--color-orange), 1);
}

.buy .card-header {
  background-color: rgba(var(--color-blue), 1);
}

.ordWindow.buy .form-check-input:checked {
  border-color: rgba(var(--color-blue), 1);
}

.ordWindow.sell .form-check-input:checked {
  border-color: rgba(var(--color-orange), 1);
}

.ordWindow .form-switch .form-check-input:checked[type=checkbox]:after {
  background-color: var(--color-text-2)
}

.ordWindow .form-check-input[type=radio], .ordWindow.buy .form-check-input[type=radio] {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 2px;
  left: 10px;
  border-color: rgba(var(--color-blue), 1);
}

.ordWindow.sell .form-check-input[type=radio] {
  border-color: rgba(var(--color-orange), 1);
}

.ordWindow.buy .form-check-input:checked[type=radio]:after {
  background-color: rgba(var(--color-blue), 1);
  border-color: rgba(var(--color-blue), 1);
}

.ordWindow.sell .form-check-input:checked[type=radio]:after {
  background-color: rgba(var(--color-orange), 1);
  border-color: rgba(var(--color-orange), 1);
}

.ordWindow .form-check-input[type=radio]:after {
  width: .400rem;
  height: .400rem;
  position: relative;
  top: 2px;
  left: 1.2px;
  margin: 1px 1px;
  background-color: transparent;
}
.ordWindow .form-check-input:checked:focus:before{
  box-shadow: none;
}

.ordWindow .input span {
  font-size: small;
}
.ordWindow .input input {
  border: none;
  padding: 6px 0;
  margin-top: 5px;
  border-bottom: 1px solid #b8b6b6;
}
.ordWindow .input input:disabled {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
  border-bottom: none;
}
.ordWindow button {
  width: 44%;
  font-weight: 400;
}
.ordWindow.buy button.submit {
  background-color: rgba(var(--color-blue), 1);
  color: #fff;
}
.ordWindow.sell button.submit {
  background-color: rgba(var(--color-orange), 1);
  color: #fff;
}
.ordWindow {
  display: none;
}
