@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yewhu7');
  src:  url('fonts/icomoon.eot?yewhu7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yewhu7') format('truetype'),
    url('fonts/icomoon.woff?yewhu7') format('woff'),
    url('fonts/icomoon.svg?yewhu7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thin-user:before {
  content: "\e907";
}
.icon-md-thin-user:before {
  content: "\e906";
}
.icon-thin-info:before {
  content: "\e900";
}
.icon-thin-mail-closed:before {
  content: "\e901";
}
.icon-thin-contact-card:before {
  content: "\e902";
}
.icon-thin-newspaper:before {
  content: "\e903";
}
.icon-thin-briefcase:before {
  content: "\e904";
}
.icon-thin-briefcase1:before {
  content: "\e905";
}
